.navbar-container {

    .navbar {
        height: var(--nav-size);
        background-color: var(--bg);
        padding: 0 1rem;
        border-bottom: var(--border);
        border-top: solid 7.5px white;

        .navbar-nav {
            margin: 0px;
            max-width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            list-style: none;

            .nav-item a {
                text-decoration: none;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }
    }
}